
/*Header Content*/


.header{
  background: linear-gradient(90deg, rgba(83,45,143,1) 0%, rgba(83,45,143,1) 25%, rgba(98,74,207,1) 100%);
  margin: 0px;
  padding: 0px;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  left: 0px;
  font-family: 'Ubuntu', sans-serif;
}

.header h1 {
  color: white;
  font-size: 8em;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

.purplebar {
  background: linear-gradient(90deg, rgba(83,45,143,1) 0%, rgba(83,45,143,1) 25%, rgba(98,74,207,1) 100%);
  border: 0px;
  height: 10px;
  border-radius: 5px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}

.bar {
  background: linear-gradient(90deg, rgba(83,45,143,1) 0%, rgba(83,45,143,1) 25%, rgba(98,74,207,1) 100%);
  left: 0px;
}

.bar.horizontal {
  font-weight: 400;
  font-size: 1.25em;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

div.sticky{
  position: fixed;
}

.horlist {
  float: left;
}

.horlist.first {
  margin-left: 300px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 5px;
  left: 0;
  background-color: rgb(144, 219, 241);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bar.horizontal li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10px;
}

.bar.horizontal a:link {
  color: white;
  padding: 8px;
  text-decoration: none;
  
}
  
.bar.horizontal a:visited {
  text-decoration: none;
}

.bar.horizontal a:hover {
  color: rgb(144, 219, 241);
}

.bar.horizontal a:active {
  text-decoration: none;
}



/* Body Content*/


body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}

.content {
  padding: 10px;
  margin: 10px 400px;
}

.content h1 {
  font-weight: 700;
  font-size: 3em;
  border-bottom: 2px solid rgba(83,45,143,1);
}

.content h2 {
  font-weight: 400;
  font-size: 1.75em;
}

.content p {
  font-size: 1.1em;
}

.content div {
  font-size: 1.1em;
}

.content li {
  padding: 5px;
}

.content li a:link {
  color: black;
  text-decoration: none;
}

.content li a:visited {
  color: rgb(98,74,207);
  text-decoration: none;
}

.content li a:active{
  text-decoration: none;
}

.content li a:hover{
  color: rgb(185, 149, 252);
  text-decoration: underline;
}
