*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    min-height: 100vh;
}

.section-main{
    text-decoration: none;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../photos/birthday.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-main h1 {
    color: rgba(255, 255, 255, .5);
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

header .brand{
    color: #fff;
    font-size: 30px;
}